.profile_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px;
    gap: 24px;

    width: calc(100% - 48px);

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.change {
    color: #888888;
}

.profile_details,
.orders_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.profile_detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    width: 350px;
}

.profile_datail__title {
    color: #888888;
}

.orders_details,
.orders_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.orders_detail,
.order_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 12px;

    width: 350px;

    background: #F0F0F0;
    border-radius: 8px;
}

.orders_datail__title,
.order_number {
    font-weight: 700;
}

.orders_datail__data {
    color: #888888;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.status {
    color: #888888;
}